
<div class="newsfeed">
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= @posts.each do |post| %>
<div class="post-image">
<%= image_tag(post.photo(:main)) %>
</div>
<p><%= post.caption %></p>
<% end %>
</div>
